@use "../../assets/styles/" as *;

.Navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1000;

  .Navbar_container.Navbar_active {
    background: $lightModeBackground;
    border: 1px solid #c7c7c7;
  }

  .Navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 pixRem(120);
    height: pixRem(80);
    background: transparent;
    transition: all ease 0.4s;
    border: none;

    @include md() {
      padding: 0 pixRem(72);
      height: pixRem(76);
    }
    @include sm() {
      padding: 0 pixRem(18);
      height: pixRem(72);
    }
  }

  .left_hand_side {
    display: flex;
    align-items: center;
    column-gap: 10px;

    @include sm() {
      display: none;
    }

    .single_NavLink {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      transition: all ease 0.2s;
      text-decoration: none;
      border-bottom: transparent solid 2px;
    }

    .single_NavLink:hover,
    .inactive_NavLink:hover {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      color: #191919;
      border-bottom: #191919 solid 2px;
    }

    .inactive_NavLink {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      color: white;
      border-bottom: transparent solid 2px;
    }
  }

  .logo_icon {
    img {
      width: 36px;
      height: auto;
      cursor: pointer;
      transition: all ease 0.5s;

      @include sm() {
        width: 34px;
      }
    }

    img:hover {
      transform: scale(1.03);
    }
  }

  .right_hand_side {
    display: flex;
    align-items: center;
    column-gap: pixRem(32);

    @include md() {
      gap: pixRem(32);
    }
    @include sm() {
      display: block;
    }

    .single_NavLink {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      transition: all ease 0.2s;
      text-decoration: none;
      border-bottom: transparent solid 2px;
      @include sm() {
        display: none;
      }
    }

    .single_NavLink:hover,
    .inactive_NavLink:hover {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      color: #191919;
      border-bottom: #191919 solid 2px;
      @include sm() {
        display: none;
      }
    }

    .inactive_NavLink {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      color: white;
      border-bottom: transparent solid 2px;
      @include sm() {
        display: none;
      }
    }

    .book_button {
      padding: 14px 16px;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      cursor: pointer;
      transition: all ease 0.2s;
      text-decoration: none;
      background: #191919;
      color: #ffffff;
      border: none;

      @include sm() {
        display: none;
      }
    }

    .book_button:hover {
      background-color: rgb(62, 63, 64) !important;
    }

    .hamburger {
      display: none;
      border: none;
      background: none;

      @include sm() {
        display: block;
      }
    }
  }

  .Navlinks_Mobile {
    display: flex;
    flex-direction: column;
    gap: pixRem(28);

    .mobile_NavLink {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding: 4px;
      transition: all ease 0.2s;
      text-decoration: none;
      text-align: center;
    }
  }

  .book_button_mobile {
    padding: 10px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.2s;
    text-decoration: none;
    background: #191919;
    color: #ffffff;
  }
}

.mobile_nav_open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  width: 100%;
  height: calc(100vh - 60px);
  row-gap: 28px;
  position: absolute;
  right: 0;
  top: 72px;
  z-index: 9999;
  background-color: $lightModeBackground;
  transition: all ease 1s;

  opacity: 1;
}

.mobile_nav_closed {
  display: none;
  @include md() {
    display: none;
  }
  @include sm() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    width: 100%;
    height: calc(100vh - 60px);
    row-gap: 28px;

    transition: all ease 1s;

    position: absolute;
    right: -100vw;
    top: 72px;
    opacity: 0.8;
    background-color: $lightModeBackground;
  }
}
