@use "../../assets/styles/" as *;

.AllPagesHero {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  row-gap: pixRem(12);
  height: 75vh;

  background-image: url("../images/hero_header_bg_2.jpg");
  background-size: cover;
  background-position: center;

  @include md() {
    padding: 0 pixRem(72);
  }
  @include sm() {
    row-gap: pixRem(12);
    height: 60vh;
    padding: 0 18px;
  }

  h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    color: #ffffff;
    @include sm() {
      font-size: 24px;
      line-height: 26px;
      text-align: center;
    }
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    @include sm() {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
    }
  }
}
