@use "../../../assets/styles/" as *;

.Hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  row-gap: pixRem(12);
  height: 100vh;

  // background-image: url("../../../assets/images/hero_header_bg_1.jpg");
  // background-size: cover;
  // background-position: center;

  @include md() {
    padding: 0 pixRem(72);
  }
  @include sm() {
    row-gap: pixRem(12);
    height: 100vh;
  }
}
