@use "../../assets/styles/" as *;

.GalleryPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .gallery_container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(200px, auto);
    row-gap: 36px;
    justify-items: center;
    // align-items: start;
    padding: 100px 120px;

    @include md() {
      grid-template-columns: 33% 33% 33%;
      justify-items: center;
    }
    @include sm() {
      grid-template-columns: 100%;
      justify-items: center;
      padding: 42px 18px;
    }
  }
}

.image {
  width: 90%;
  height: auto;
  border-radius: 16px;

  @include sm() {
    width: 80%;
  }
}
